@model RESITALMVC.MODEL.Entities.Hotel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Hotel Ekleme</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Hotel Ekleme</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        @using (Html.BeginForm("Create", "Hotel", FormMethod.Post, new { @id = "FormHotel" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Hotel Genel Bilgi</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputClientCompany">Hotel Kod</label>
                                @Html.ValidationMessageFor(Model => Model.HotelCode, null, new { @class = "text-danger" })
                                @Html.TextBoxFor(Model => Model.HotelCode, new { @class = "form-control", @placeholder = "Hotel Kodu" })
                            </div>
                            <div class="form-group">
                                <label for="inputName">Hotel Adı</label>
                                @Html.ValidationMessageFor(Model => Model.HotelName, null, new { @class = "text-danger" })
                                @Html.TextBoxFor(Model => Model.HotelName, new { @class = "form-control", @placeholder = "Hotel Adı" })
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Hotel Adresi</label>
                                @Html.ValidationMessageFor(Model => Model.HotelAdress, null, new { @class = "text-danger" })
                                @Html.TextAreaFor(Model => Model.HotelAdress, new { @class = "form-control", @placeholder = "Hotel Adresi" })
                            </div>
                        </div>


                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="#" class="btn btn-secondary">İptal Et</a>
                    <button  type="submit" class="btn btn-success float-right">Oluştur</button>
                </div>
            </div>
        }


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
